@{
    ViewBag.Title = "Big Boi Burgers";
}

<h2>Select Burger Type</h2>

@using (Html.BeginForm("Index", "Burger", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Burger Type:")
        <br />
        <a href="@Url.Action("Index", "Burger", new { burgerType = "Chicken" })" >Chicken Burger</a>
        <br />
        <a href="@Url.Action("Index", "Burger", new { burgerType = "Cheese" })" >Cheese Burger</a>
    </div>
}