@{
    ViewBag.Title = "Big Boi Burgers";
}

<h2>Select Burger Type</h2>

@using (Html.BeginForm("Index", "Burger", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Burger Type:")
        @Html.DropDownList("burgerType", new SelectList(new[]
        {
            "Chicken",
            "Cheese"
        }), "--Select a Burger Type--", new { @class = "form-control" })
    </div>
    <div>
        @Html.ActionLink("Chicken", "Burger")
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}