html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
    background-image: url('/Background/Restaurant_Background.png');
    /* Add other background styles as needed */
    background-size: cover; /* Adjusts the size of the background image to cover the entire container */
}
