html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.background-image {
    background-image: url('/Background/Restaurant_Background.jpg');
    background-size: cover;
}

.BackgroundImage-Details {
    background-image: url('/Background/Details_Background.jpg');
    background-size: cover;
}

.navbar {
    background-size: cover;
    background-position: center;
}
/*
    Code Attribution
    Learned how to do text outline for StackOverflow
    How to outline text in HTML / CSS
    https://stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css
    WonderWorker
    https://stackoverflow.com/users/1271898/wonderworker
*/
.OutlineText {
    text-shadow:
    -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000, -2px 0 0 #000000, 2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000;
}

.OutlinePriceText {
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -2px 0 0 #FFFFFF, 2px 0 0 #FFFFFF, 0 2px 0 #FFFFFF, 0 -2px 0 #FFFFFF;
}
.navbar-brand {
    outline-color: black;
    color: white;
    margin: auto;
    text-shadow: -1px -1px 0 #FFFFFF, 1px -1px 0 #FFFFFF, -1px 1px 0 #FFFFFF, 1px 1px 0 #FFFFFF, -2px 0 0 #FFFFFF, 2px 0 0 #FFFFFF, 0 2px 0 #FFFFFF, 0 -2px 0 #FFFFFF;
}
